@model Category

<h2>Add Category</h2>
<form class="m-3" asp-action="Add" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="CategoryName">CategoryName</label>
        <input type="text" name="CategoryName" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="CategoryAlias">CategoryAlias</label>
        <input type="text" name="CategoryAlias" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <textarea name="Description" class="form-control" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
