@model Member
<form method="post">
    <input type="hidden" asp-for="MemberId" />
    
    <div class="row">
        <label class="col-2 form-label" for="email">Email</label>
        <div class="col-10">@Model.Email</div>
    </div>

    <div class="row">
        <label class="col-2 form-label" asp-for="Role">Role</label>
        <div class="col-10">
            <select class="form-control" asp-for="Role" asp-items="@ViewBag.Roles"></select>
        </div>
    </div>

    <button class="btn btn-primary">Save Changes</button>
</form>