@model Product

<h2>Add Product</h2>

<form asp-action="Add" enctype="multipart/form-data"  method="post">
    <div class="mb-3">
        <label for="ProductName" class="form-label">Product Name</label>
        <input type="text" class="form-control" asp-for="ProductName" name="ProductName" required />
    </div>
    <div class="mb-3">
        <label for="ProductAlias" class="form-label">Product Alias</label>
        <input type="text" class="form-control" asp-for="ProductAlias" name="ProductAlias" />
    </div>
    <div class="mb-3">
        <label for="ProductAlias" class="form-label">CategoryId</label>
        <input type="number" class="form-control" asp-for="CategoryId" name="CategoryId" />
    </div>
    <div class="mb-3">
        <label for="Price" class="form-label">Price</label>
        <input type="number" class="form-control" asp-for="Price" name="Price" step="0.01" />
    </div>
    <div class="mb-3">
        <label for="Image" class="form-label">Image</label>
        <input type="file" class="form-control" name="ImageFile" accept="image/*" />
    </div>
    <div class="mb-3">
        <label for="ProductDate" class="form-label">Product Date</label>
        <input type="date" class="form-control" asp-for="ProductDate" name="ProductDate" />
    </div>
    <div class="mb-3">
        <label for="SaleOff" class="form-label">Sale Off</label>
        <input type="number" class="form-control" asp-for="SaleOff" name="SaleOff" step="0.01" />
    </div>
    <div class="mb-3">
        <label for="Viewed" class="form-label">Viewed</label>
        <input type="number" class="form-control" asp-for="Viewed" name="Viewed" />
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <textarea class="form-control" asp-for="Description" name="Description"></textarea>
    </div>
    <div class="mb-3">
        <label for="SupplierId" class="form-label">Supplier ID</label>
        <input type="text" class="form-control" asp-for="SupplierId" name="SupplierId" />
    </div>
    <button type="submit" class="btn btn-primary">Success</button>
</form>