<div asp-validation-summary="All"></div>
<form method="post">
    <div class="row mb-1">
        <label class="col-2 form-label" for="pwd">Endter your new Password</label>
        <div class="col-10">
            <input class="form-control" required type="password" name="password" id="pwd" placeholder="Enter your new password">
        </div>
    </div>
    <div>
    <button class="btn btn-primary">Send</button>
    </div>
</form>